@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap');
img {
    width: 15vh;
    margin: 2px;
}

* {
    margin: 0px;
}

.wall {
    background-image: url(../images/wall.jfif);   
    background-repeat: repeat-y;
}


.niche-video {
    width: 35%;
    margin-left: 35%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.blues-img {
    width: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-fondo {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    background-position-y: center;
    opacity: .95;
}

.seccion-1 {
    font-size: 12px;
    text-align: justify;
}

.card-group-a img:hover {
    transform: translatey(15px);
}

.card-group-b img:hover {
    transform: translatey(15px);
}

.input-btn-login:visited {
    background-image: none;
    background-color: red;
    font-size: 35px;
    border: 10px dashed black;
    color: black;
}

.input-btn-login:hover {
    background-image: none;
    font-size: 25px;
    border: 10px dashed black;
    color: black;
}

.input-suscribe {
    width: 90%;
    border: solid;
    width: 300px;
    height: 50px;
}

.input-data {
    width: 100%;
    border: solid;
    width: 400px;
    height: 50px;
}

.password {
    border: solid;
    background-color: transparent;
    width: 400px;
    height: 50px;
}

.email-input {
    border: solid;
    background-color: transparent;
    width: 400px;
    height: 50px;
}

.me-gusta {
    height: 40px;
    width: 40px;
}

.img1-rock {
    background-image: url(../images/barra_rock.jfif);
    background-size: cover;
    height: 340px;
}

.img2-rock {
    background-position: center;
    background-image: url(../images/barra_rock.jfif);
    background-size: cover;
    height: 340px;
}

.img3-rock {
    background-position: center;
    background-image: url(../images/barra_rock1.jfif);
    background-size: cover;
    height: 340px;
}

.img3-salsa {
    background-image: url(../images/barra_salsa.jfif);
    background-size: cover;
    height: 350px;
    border-top: #0a0a0a solid 10px;
}

.img4-salsa {
    background-position: center;
    background-image: url(../images/barra_salsa.jfif);
    background-size: cover;
    height: 350px;
    border-top: #0a0a0a solid 10px;
}

.img5-salsa {
    background-position: right;
    background-image: url(../images/barra_salsa.jfif);
    background-size: cover;
    height: 350px;
    border-top: #0a0a0a solid 10px;
}

.img6-pop {
    background-image: url(../images/barra_pop.jfif);
    background-size: cover;
    height: 300px;
    border-top: #0a0a0a solid 10px;
}

.img7-pop {
    background-position: center;
    background-image: url(../images/barra_pop.jfif);
    background-size: cover;
    height: 300px;
    border-top: #0a0a0a solid 10px;
}

.img8-pop {
    background-position: right;
    background-image: url(../images/barra_pop.jfif);
    background-size: cover;
    height: 300px;
    border-top: #0a0a0a solid 10px;
}

.img9-elec {
    background-position: center;
    background-image: url(../images/barra_elec.jfif);
    background-size: cover;
    height: 250px;
    border-top: #0a0a0a solid 10px;
}

.img10-elec {
    background-position: center;
    background-image: url(../images/barra_elec1.jfif);
    background-size: cover;
    height: 250px;
    border-top: #0a0a0a solid 10px;
}

.img11-elec {
    background-position: center;
    background-image: url(../images/barra_elec2.jfif);
    background-size: cover;
    height: 250px;
    border-top: #0a0a0a solid 10px;
}